
.navbar .nav{
	float:right;
}

div.span6{
	cursor: pointer;
	margin-bottom: 20px;
	background: #CCC;
	padding: 10px 0px;
}

div.center{
	text-align: center;
}

.redhelpbox{
	border-radius: 10px;
	font-size: 1.2em;
	background: red;
	color: white;
	height: 50px;
	text-align: center;
}
	.redhelpbox p{
		padding: 15px;
	}

.redline{
	height: 10px;
	background:red;
	top:-10px;
	position:relative;
	margin-left:-20px;
	margin-right:-20px;
}