/* ==========================================================================
   Webfonts
   ========================================================================== */
   
/*  for reference:
    --------------
    100 = thin
    200 = extra-light
    300 = light
    400 = normal, book
    500 = medium
    600 = demi-bold
    700 = bold
    800 = heavy
    900 = black   */


@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-BlaIta-webfont.eot');
    src: url('fonts/Lato-BlaIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-BlaIta-webfont.woff') format('woff'),
         url('fonts/Lato-BlaIta-webfont.ttf') format('truetype'),
         url('fonts/Lato-BlaIta-webfont.svg#LatoBlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Bla-webfont.eot');
    src: url('fonts/Lato-Bla-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Bla-webfont.woff') format('woff'),
         url('fonts/Lato-Bla-webfont.ttf') format('truetype'),
         url('fonts/Lato-Bla-webfont.svg#LatoBlack') format('svg');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-BolIta-webfont.eot');
    src: url('fonts/Lato-BolIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-BolIta-webfont.woff') format('woff'),
         url('fonts/Lato-BolIta-webfont.ttf') format('truetype'),
         url('fonts/Lato-BolIta-webfont.svg#LatoBoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Bol-webfont.eot');
    src: url('fonts/Lato-Bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Bol-webfont.woff') format('woff'),
         url('fonts/Lato-Bol-webfont.ttf') format('truetype'),
         url('fonts/Lato-Bol-webfont.svg#LatoBold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-RegIta-webfont.eot');
    src: url('fonts/Lato-RegIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-RegIta-webfont.woff') format('woff'),
         url('fonts/Lato-RegIta-webfont.ttf') format('truetype'),
         url('fonts/Lato-RegIta-webfont.svg#LatoItalic') format('svg');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Reg-webfont.eot');
    src: url('fonts/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Reg-webfont.woff') format('woff'),
         url('fonts/Lato-Reg-webfont.ttf') format('truetype'),
         url('fonts/Lato-Reg-webfont.svg#LatoRegular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-LigIta-webfont.eot');
    src: url('fonts/Lato-LigIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-LigIta-webfont.woff') format('woff'),
         url('fonts/Lato-LigIta-webfont.ttf') format('truetype'),
         url('fonts/Lato-LigIta-webfont.svg#LatoLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Lig-webfont.eot');
    src: url('fonts/Lato-Lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Lig-webfont.woff') format('woff'),
         url('fonts/Lato-Lig-webfont.ttf') format('truetype'),
         url('fonts/Lato-Lig-webfont.svg#LatoLight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-HaiIta-webfont.eot');
    src: url('fonts/Lato-HaiIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-HaiIta-webfont.woff') format('woff'),
         url('fonts/Lato-HaiIta-webfont.ttf') format('truetype'),
         url('fonts/Lato-HaiIta-webfont.svg#LatoHairlineItalic') format('svg');
    font-weight: 100;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Hai-webfont.eot');
    src: url('fonts/Lato-Hai-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Hai-webfont.woff') format('woff'),
         url('fonts/Lato-Hai-webfont.ttf') format('truetype'),
         url('fonts/Lato-Hai-webfont.svg#LatoHairline') format('svg');
    font-weight: 100;
    font-style: normal;

}

.navbar .nav{
	float:right;
}

.align-right {
  float:left;
  padding-right: 135px;
}

div.span6{
	cursor: pointer;
	margin-bottom: 20px;
	background: #CCC;
	padding: 10px 0px;
}

div.center{
	text-align: center;
}

.redhelpbox{
	border-radius: 10px;
	font-size: 1.2em;
	background: red;
	color: white;
	height: 50px;
	text-align: center;
}
	.redhelpbox p{
		padding: 15px;
	}

.redline{
	height: 10px;
	background:red;
	top:-10px;
	position:relative;
	margin-left:-20px;
	margin-right:-20px;
}
