/* ==========================================================================
   Webfonts
   ========================================================================== */
   
/*  for reference:
    --------------
    100 = thin
    200 = extra-light
    300 = light
    400 = normal, book
    500 = medium
    600 = demi-bold
    700 = bold
    800 = heavy
    900 = black   */


@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-BlaIta-webfont.eot');
    src: url('fonts/Lato-BlaIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-BlaIta-webfont.woff') format('woff'),
         url('fonts/Lato-BlaIta-webfont.ttf') format('truetype'),
         url('fonts/Lato-BlaIta-webfont.svg#LatoBlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Bla-webfont.eot');
    src: url('fonts/Lato-Bla-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Bla-webfont.woff') format('woff'),
         url('fonts/Lato-Bla-webfont.ttf') format('truetype'),
         url('fonts/Lato-Bla-webfont.svg#LatoBlack') format('svg');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-BolIta-webfont.eot');
    src: url('fonts/Lato-BolIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-BolIta-webfont.woff') format('woff'),
         url('fonts/Lato-BolIta-webfont.ttf') format('truetype'),
         url('fonts/Lato-BolIta-webfont.svg#LatoBoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Bol-webfont.eot');
    src: url('fonts/Lato-Bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Bol-webfont.woff') format('woff'),
         url('fonts/Lato-Bol-webfont.ttf') format('truetype'),
         url('fonts/Lato-Bol-webfont.svg#LatoBold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-RegIta-webfont.eot');
    src: url('fonts/Lato-RegIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-RegIta-webfont.woff') format('woff'),
         url('fonts/Lato-RegIta-webfont.ttf') format('truetype'),
         url('fonts/Lato-RegIta-webfont.svg#LatoItalic') format('svg');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Reg-webfont.eot');
    src: url('fonts/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Reg-webfont.woff') format('woff'),
         url('fonts/Lato-Reg-webfont.ttf') format('truetype'),
         url('fonts/Lato-Reg-webfont.svg#LatoRegular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-LigIta-webfont.eot');
    src: url('fonts/Lato-LigIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-LigIta-webfont.woff') format('woff'),
         url('fonts/Lato-LigIta-webfont.ttf') format('truetype'),
         url('fonts/Lato-LigIta-webfont.svg#LatoLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Lig-webfont.eot');
    src: url('fonts/Lato-Lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Lig-webfont.woff') format('woff'),
         url('fonts/Lato-Lig-webfont.ttf') format('truetype'),
         url('fonts/Lato-Lig-webfont.svg#LatoLight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-HaiIta-webfont.eot');
    src: url('fonts/Lato-HaiIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-HaiIta-webfont.woff') format('woff'),
         url('fonts/Lato-HaiIta-webfont.ttf') format('truetype'),
         url('fonts/Lato-HaiIta-webfont.svg#LatoHairlineItalic') format('svg');
    font-weight: 100;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Hai-webfont.eot');
    src: url('fonts/Lato-Hai-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Hai-webfont.woff') format('woff'),
         url('fonts/Lato-Hai-webfont.ttf') format('truetype'),
         url('fonts/Lato-Hai-webfont.svg#LatoHairline') format('svg');
    font-weight: 100;
    font-style: normal;

}



.hero-unit {
    background-color: #fff;
    padding: 0;
    margin-bottom: 10px;
}



.slides li p {
    padding: 1em 13% 0;
    color: #F7362C;
    font-weight: bold;
    font-size: 1.4em;
}

.slides li p span {
    color: #84cfcb;
    font-weight: 900;
}
.hero-unit .flexslider {
    margin: .5em auto .5em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.flex-control-nav {
    display: none;
    bottom: -30px;
}

h1 {
    color: #F7362C;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 900;
}



body {
    font-family: Lato, Helvetica, Arial, sans-serif;
}

.navbar{
	margin-left:-20px;
	margin-right:-20px;
}
.navbar-inner{
	border-radius: 0px;
}

.navbar .nav{
	float:right;
}

div.center{
	text-align: center;
}

.redhelpbox{
	border-radius: 10px;
	font-size: 1.2em;
	background: #f7362c;
	color: white;
	height: 50px;
	text-align: center;
}
	.redhelpbox p{
		padding: 15px;
	}

.redline{
	height: 10px;
	background:#f7362c;
	position:relative;
	margin: -10px -20px 0px -20px;
}

.menu-options{
	margin-left: -20px;
	margin-right: -20px;
}

div.span6{
	cursor: pointer;
	background: #84cfcb;
	padding: 15px 0px;
	color: #000;
    text-transform: uppercase;
	margin-bottom: 1px;
}

div.span6 h2 {
	font-weight: 900;
}

div.span6 p {
    color: #d22329;
    font-weight: 900;
}

.float-left{
	float:left;
	margin: 0px 20px;
	width: 80px;
}


/***** DONATE PAGE *****/
.page-icon{
	height: 40px;
	margin-top: -10px;
}

.paypal-donate{
	margin: 10px 0px 0px 0px;
	width: 100%;
}

form{
	margin-bottom: 0px;
}

/***** END DONATE PAGE *****/

footer{
	margin-top: 50px;
}
#store-images img {
  padding: 5px;
}

.big-body-text {
  font-size: 16px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.blue-background {
  padding-left: 8px; 
  color: white;
  background: #2f96b4;
}
